@model Marketing.ViewModels.BidsViewModels.BidViewModel

<div class="text-center" align="center">
    <h1>@Model.Header</h1>
    <table cellspacing="5">
        <tr align="center">
            <td><b>Id</b></td>
            <td><b>Name</b></td>
            <td><b>Application</b></td>
            <td><b>EndDate</b></td>
            <td><b>Description</b></td>
            <td><b>Bank</b></td>
            <td><b>Email</b></td>
        </tr>
        @foreach (var bid in Model.Bids)
        {
        <tr>
            <td>@bid.Id</td>
            <td>@bid.Name</td>
            <td>@bid.Application.Name</td>
            <td>@bid.EndDate.ToString("dd.MM.yyyy")</td>
            <td>@bid.Description</td>
            <td>@bid.Bank.Name</td>
            <td>@bid.Email</td>
        </tr>
        }
    </table>
    
</div>

