@model Marketing.ViewModels.BidsViewModels.BidsViewModel

<div class="text-center" align="center">
    <h1>Bid</h1>
    <a href="@Url.Action("Add")">Add</a>
    <table cellspacing="5">
        <tr>
            <td><b>Name</b></td>
            <td><b>Application</b></td>
            <td><b>Description</b></td>
            <td><b>EndDate</b></td>
            <td><b>Bank</b></td>
            <td><b>Email</b></td>
            <td><b>Actions</b></td>
        </tr>
        @foreach (var bid in Model.Bids)
        {
            <tr>
                <td>@bid.Name</td>
                <td>@bid.Application?.Name</td>
                <td>@bid.Description</td>
                <td>@bid.EndDate?.ToString("d")</td>
                <td>@bid.Bank?.Name</td>
                <td>@bid.Email</td>
                <td>
                    <a href="@Url.Action("Edit", new {id = bid.Id})">Edit</a>
                    <a href="@Url.Action("Delete", new {id = bid.Id})">Delete</a>
                </td>
            </tr>
        }
    </table>
</div>

